@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url(style.css) screen and (max‐width: 480px);

/*****************fade-in****************************/
.title {
    animation: fadeIn 3s ease-in 0s 1 normal;
    -webkit-animation: fadeIn 3s ease-in 0s 1 normal;
}
.content {
    animation: fadeIn 1s ease 0s 1 normal;
    -webkit-animation: fadeIn 1s ease 0s 1 normal;
}
@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}
/*****************scroll02****************************/
.about-p {
    position: absolute;
    top: 75%;
    animation: scroll02 10s linear 0s forwards;
}
@keyframes scroll02 {
    0% { top: 75%; }
    100% { top: -5%; }
}
/*****************typing****************************/
@keyframes typing { from { width: 0; } }
@keyframes caret { 100% { border-color: transparent; } }

.sand {
font-family: monospace;
width: 100%;
border-right: .08em solid;
overflow: hidden;
font-size: 4em;
white-space: nowrap;
animation: typing 3s steps(20, end), caret .5s step-end infinite;
}
/*****************page-change****************************/
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  z-index: 2;
}
/*animation*/

/*****************page-all***************************/
.wrapper {
    position: relative;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.main {
    position: relative;
    height: 80%;
    /*background: url(../images/scroll02.png) no-repeat;*/
    background-color: blue;
    background-size: contain;
}
.header {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20%;
    /*background: url(../images/nav03.png) no-repeat;*/
    background-color: gray;
    background-position: bottom;
    z-index: 1000;
}

ul {
    text-align: right;
    width: 83%;
    margin: 3.5%;
}

li {
    display: inline;
    margin: 1.5%;
}

/*****************page-top***************************/
.index-main {
  width: 100%;
  height: 80%;
  background-color: #ddd;
}
.title {
    background-color: red;
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 20%;
    height: 20%;
    width: 30%;
    z-index: 1000;
}
/*top-character*/
.top-img01 {
  background: url(../images/chara01.png) no-repeat;
  background-size: contain;
  height: 90%;
  width: 60%;
  position: absolute;
  bottom: -10%;
  left: -20%;
  text-indent: -9999px;
}
.top-img02 {
  background: url(../images/chara02.png) no-repeat;
  background-size: contain;
  height: 50%;
  width: 40%;
  position: absolute;
  bottom: 0%;
  left: 30%;
  text-indent: -9999px;
}
.top-img03 {
  background: url(../images/chara03.png) no-repeat;
  background-size: contain;
  height: 50%;
  width: 40%;
  position: absolute;
  bottom: 0%;
  right: 0%;
  text-indent: -9999px;
}
.top-img04 {
  background: url(../images/chara04.png) no-repeat;
  background-size: contain;
  height: 50%;
  width: 40%;
  position: absolute;
  bottom: 20%;
  right: 0%;
  text-indent: -9999px;
}
.top-img05 {
  background: url(../images/chara05.png) no-repeat;
  background-size: contain;
  height: 50%;
  width: 40%;
  position: absolute;
  top: 0%;
  right: 0%;
  text-indent: -9999px;
}
.top-img06 {
  background: url(../images/chara06.png) no-repeat;
  background-size: contain;
  height: 50%;
  width: 40%;
  position: absolute;
  top: 0%;
  left: 10%;
  text-indent: -9999px;
}
/*top-character*/
/*****************page-tears*************************/
.content {
    background-color: #fff;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
    background: none;
    overflow: auto;
    z-index: 900;
}
.content::-webkit-scrollbar {
  display: none;
}
.heading {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    height: 15%;
    width: 30%;
}
.sub-title {
    background-color: red;
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    font-size: 4rem;
}
.sub-title-description {
    background-color: pink;
    margin: auto;
    position: absolute;
    top: 60%;
    right: 0;
    display: inline;
}

/*****************page-about*************************/
.about-p {
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
}
/*****************page-character*********************/
.character {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}
.character::-webkit-scrollbar {
  display: none;
}
.chara, .chara02, .chara03 {
  width: 100%;
  height: 60%;
  margin: 10% auto;
  background-color: #333;
}
.chara:nth-of-type(1) {
  margin: 0 auto;
}
.chara-img, .chara-img02, .chara-img03 {
  text-indent: -9999px;
  background-color: pink;
  width: 30%;
  height: 100%;
  -moz-transition: -moz-transform 0.5s linear;
  -webkit-transition: -webkit-transform 0.5s linear;
  -o-transition: -o-transform 0.5s linear;
  -ms-transition: -ms-transform 0.5s linear;
  transition: transform 0.5s linear;
}
.chara-img:hover, .chara-img02:hover, .chara-img03:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.chara-img {
  background: url(../images/chara01.png) no-repeat;
  background-size: contain;
}
.chara-img02 {
  background: url(../images/chara02.png) no-repeat;
  background-size: contain;
}
.chara-img03 {
  background: url(../images/chara03.png) no-repeat;
  background-size: contain;
}
.chara-name, .chara-name02, .chara-name03 {
  width: 70%;
  height: 15%;
  margin: 0;
}
.chara-p, .chara-p02, .chara-p03 {
  font-size: 90%;
  width: 70%;
  height: 85%;
}
.chara-description02 {
  padding-left: 5%;
}
table {
  padding: 5% 0 0 0;
  margin: 3%;
}
<<<<<<< HEAD
/*****************page-combat************************/
=======
/*****************page-operation************************/
>>>>>>> 6df87ceb18b8e9671c1ef5733a7b8eba53068d06
/*****************page-news**************************/
.news-title,
.news-title-description,
.news-date,
.news-description,
.news-description a {
    display: inline;
}
.news-leader {
    background: linear-gradient(transparent 30%, #ddd 70%);
    margin: 0 1%;
}
.news-content {
    display: block;
    text-align: center;
    margin-top: 10%;
}
.news-content:nth-child(1) {
    margin-top: 15%;
}
.news-title {
    font-size: 2.5rem;
}
.news-title-description{
    font-size: 0.8rem;
}
.news-date,
.news-description,
.news-description a {
    margin: 0;
}
.news-description,
.news-description a {
    padding-bottom: 3%;
}
.sub-news-description-content {
    word-break: break-all;
}
.news-before {
    float: left;
    margin: 1%;
}
.news-next {
    float: right;
    margin: 1%;
}

/*****************page-contact***********************/

/*----------------------------------------------------
    smart-phone
    --------------------------------------------------------*/

@media (max-width: 499px) {

    /*****************499px-header*******************************/
    .header {
        display: none;
    }

    .wrapper,
    main,
    .title {
        width: 100%;
    }

    /*****************499px-top******************************/
    .title {
        height: 30%;
        z-index: 1000;
    }
    main {
        height: 100%;
    }
    .content {
        height: 78%;
        width: 95%;
        position: absolute;
        top: 11%;
    }

    /*****************499px-tears******************************/
    .sub-title {
        background-color: red;
        position: absolute;
        margin: auto;
        top: 0px;
        left: 0;
        right: 0px;
        height: 10%;
        width: 100%;
    }

    /*****************499px-news******************************/
    .news-title,
    .sub-news-title {
        margin: 8%;
    }
    .sub-news-date {
        text-align: right;
        margin-right: 5%;
    }
    .news-description,
    .news-description a {
        margin: 0;
        padding-top: 1%;
        padding-bottom: 6%;
    }

    /*****************499px-sub-news******************************/
    .sub-news-description-content {
        height: 70%;
        width: 90%;
        margin: 0 auto;
        text-align: left;
        word-break: break-all;
    }

    /**************499px-humburger icon***********************/
    header {
        position: fixed;
        bottom: 0;
        height: 10%;
        width: 100%;
        background-color: green;
        z-index: 1000;
    }

    #nav-drawer {
        position: relative;
    }

    /*チェックボックス等は非表示に*/
    .nav-unshown {
        display: none;
    }

    /*アイコンのスペース*/
    #nav-open {
        position: fixed;
        bottom: 4%;
        right: 5%;
        width: 30px;
        height: 22px;
        vertical-align: middle;
    }

    /*ハンバーガーアイコンをCSSだけで表現*/
    #nav-open span,
    #nav-open span:before,
    #nav-open span:after {
        position: absolute;
        height: 3px;
        /*線の太さ*/
        width: 25px;
        /*長さ*/
        border-radius: 3px;
        background: #555;
        display: block;
        content: '';
        cursor: pointer;
    }

    #nav-open span:before {
        bottom: -8px;
    }

    #nav-open span:after {
        bottom: -16px;
    }

    /*閉じる用の薄黒カバー*/
    #nav-close {
        display: none;
        /*はじめは隠しておく*/
        position: fixed;
        z-index: 998;
        top: 0;
        /*全体に広がるように*/
        left: 0;
        width: 100%;
        height: 100%;
        background: #aaa;
        opacity: 0;
        transition: .3s ease-in-out;
    }

    /*中身*/
    #nav-content {
        overflow: auto;
        position: fixed;
        bottom: 10%;
        right: 0;
        z-index: 9999;
        /*最前面に*/
        width: 50%;
        /*右側に隙間を作る（閉じるカバーを表示）*/
        max-width: 50%;
        /*最大幅（調整してください）*/
        height: 70%;
        background: #000;
        /*背景色*/
        transition: .3s ease-in-out;
        /*滑らかに表示*/
        transform: translateX(105%);
        /*左に隠しておく*/
    }

    #nav-content ul {
        padding: 1em 0.5em;
    }

    #nav-content li:nth-child(odd) {
        background-color: #333;
    }

    .gl-nav-content li a {
        font-weight: bold;
        font-size: 1.5rem;
        color: white;
        padding: 0;
        padding-left: -1em;
        text-align: left;
    }

    /*チェックが入ったらもろもろ表示*/
    #nav-input:checked~#nav-close {
        display: block;
        /*カバーを表示*/
        opacity: .5;
    }

    #nav-input:checked~#nav-content {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        /*中身を表示（右へスライド）*/
        box-shadow: 6px 0 25px rgba(0, 0, 0, .15);
    }

}


/**/

@media screen and (min-width:500px) {

    #nav-drawer,
    #nav-input,
    #nav-open,
    #nav-unshown,
    #nav-content,
    .gl-nav-content,
    .gl-nav-content li,
    .gl-nav-content a {
        display: none;
    }
}